body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: black;
}

#board {
    position: relative;
    background-color: rgb(169, 178, 255);
    border-bottom: 1px solid black;
    background: url('./img/bg.jpg'); 
    background-size: cover;
    
}

#gameContainer {
    position: relative;
    display: inline-block;
    
}

#jumpBtn,
#restartBtn,
#mobileBtn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 100px;
    height: 30px;
}

#changeBtn {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 150px;
    height: 30px;
    z-index: 1; /* 다른 요소 위에 표시되도록 설정 */
}

.pixelify-sans-uniquifier {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.title {
    font-size: 60px;
}

.text1 {
    font-size: 30px;
}

@media (max-width: 1000px){

    .title {
        font-size: 30px;
    }

    .text1 {
        font-size: 15px;
    }
    .mobile{
        display: block;
    }
    .pcjump{
        display: none;
    }
}

@media (min-width: 1001px)
{
    .mobilejump{
        display: none;
    }
    .pcjump{
        display: block;
    }
}


