body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#board {
    position: relative;
    background-color: rgb(169, 178, 255);
    border-bottom: 1px solid black;
    background: url('./img/bg2.png'); 
    background-size: cover;
}

#gameContainer {
    position: relative;
    display: inline-block;
}

#jumpBtn,
#restartBtn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 100px;
    height: 30px;
}

@media (max-width: 1200px) {
    #gameContainer {
        display: none;
    }
}
