* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom, #242424, #2f2f2f, #292929);
    position: fixed;
    z-index: 2;
    
}

.logo {
    width: 30%;
    float: left;
    text-align: left;
    line-height: 100px;
   
}
.logo a{
    text-decoration: none;
    font-size: 30px;
    color: #ffffff;
    font-family:cursive;
    letter-spacing: 4px;
    
}
nav{
    float : right;
    line-height: 100px;
    
}
nav a{
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    font-family: 'Arial';
    letter-spacing: 3px;
    padding: 10px;
    text-shadow: 4px 4px 4px rgb(0, 0, 0); /* 가로, 세로, 흐림 정도, 색상 조절 */
    
}
nav a:hover{
    background: #fff;
    color : black;
}
.banner-area{
    background-image: url("../images/night_sky1.gif");
    background-size: cover;
    background-position: center;
    top: 100px;
    height: 100vh;
    width : 100%;
    position :fixed;
    

}
.banner-area:after{
    content: '';
    position : absolute;
    top : 0;
    left : 0;
    display : block;
    width : 100%;
    height : 100%;
    background: #2f2f2f;
    opacity: .0;
    z-index: -1;
}
.banner-area h2{
    padding-top : 10%;
    font-size: 60px;
    
    
    color : #fff;
    text-shadow: 4px 4px 4px rgb(0, 0, 0); /* 가로, 세로, 흐림 정도, 색상 조절 */
    
    
	
}
.content-area{     /*메인 */
    width : 100%;
    height : 1000px;
    position : relative;
    /* background: url('./images/bg1.png'); */
    background: #ffffff;
    top : 500px;

}
.content-area h2{
    font-size: 30px;
    margin : 0;
    padding-top: 30px;
    letter-spacing: 4px;
    text-shadow: 4px 4px 4px rgba(2, 2, 2, 0.312); /* 가로, 세로, 흐림 정도, 색상 조절 */
    color : #474747;;
    font-style: Arial;
}
.content-area h3{
    font-style: Arial;
    font-size: 30px;
    margin : 0;
    padding-top: 30px;
    letter-spacing: 4px;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.373); /* 가로, 세로, 흐림 정도, 색상 조절 */
    color : #474747;
}
.content-area p{
    padding: 2% 0;
    line-height: 35px;
    text-align: justify;
    font-size: 20px;
    color : #474747;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.171); /* 가로, 세로, 흐림 정도, 색상 조절 */
    
}




